<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="projectForm" (ngSubmit)="onSubmitProjectForm()">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="text" class="form-control" id="projectName" formControlName="projectName">
                    <span class="help-block" *ngIf="projectForm.get('projectName').errors['nameIsForbidden']">
                        Please enter a valid project name!</span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <span class="help-block"
                        *ngIf="projectForm.get('email').errors && projectForm.get('email').errors['emailIsForbidden']">
                        Please enter a valid email!</span>
                </div>
                <div class="form-group">
                    <label for="projectStatus">Project Status</label>
                    <select name="projectStatus" class="form-control">
                        <option *ngFor="let status of statusArray" [value]="status">{{status}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" [disabled]="projectForm.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
